{% extends "::base_full.html.twig" %}

{% form_theme form 'TbPMSBundle:Form:fields.html.twig' %}

{% block body %}
<div class="col-sm-12">
    <div class="box">
        <div class="box-header">
            <h2>Αλλαγή κωδικού χρήστη {{ app.user }}</h2>
        </div>
        <div class="box-content">
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>
</div>
    
{% endblock body %}
