{% extends '::base.html.twig' %}

{% block pagetitle %}
    <h1>{% trans %}Welcome{% endtrans %} {{ app.user }}
        <small>{% trans %}Homepage{% endtrans %}</small>
    </h1>
{% endblock pagetitle %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> {% trans %}Dashboard{% endtrans %}</li>
    </ol>
{% endblock breadcrumb %}

{% block body -%}

<dic class="row">
    <div class="col-sm-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>
                        Καλως ήρθες {{ app.user.username }}
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <p>
                    Αυτό που βλέπεις είναι μια πλατφόρμα για να φτιάχνουμε και να πραγματοποιούμε quiz γνώσεων! Αυτό είναι εργαλείο των codegirls στην Ελλάδα και όταν θα φτάσετε στο σημείο να μπορείτε να καταλαβαίνετε τον κώδικά του, θα μπορείτε σε συνεργασία με τους κατασκευαστές του να το κάνετε την καλύτερη πλατφόρμα γνώσεων στον κόσμο!
                </p>
            </div>
        </div>
    </div>
</dic>




    {% endblock %}
