{% extends '::base.html.twig' %}

{% block pagetitle %}
    <h1>{% trans %}View Quiz{% endtrans %} {{ app.user }}
        <small>{% trans %}Quiz{% endtrans %}</small>
    </h1>
{% endblock pagetitle %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> {% trans %}View Quiz{% endtrans %}</li>
    </ol>
{% endblock breadcrumb %}

{% block body -%}

<dic class="row">
    <div class="col-sm-12">
        <div class="portlet portlet-blue">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>
                        {{ quiz }}
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <p>
                    {{ quiz.description }}
                </p>
            </div>
        </div>
        </div>
    <div class="col-sm-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>
                        Αποτελέσματα
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <h1>{{ (100*correct/(answers|length))|number_format(0,',','.') }}%</h1>
            </div>
        </div>

    </div>
</dic>




    {% endblock %}
