{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1>Category list</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('category_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
