{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="login-box">
    <div class="login-img">
        <img src="{{ asset('assets/img/logo_md.jpg') }}" class="img-responsive" />
    </div>
    <div class="header">
        Υπενθυμιση κωδικού
    </div>
    <div>
        
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    </div>
    <a class="pull-left" href="{{ path('fos_user_security_login') }}">Κάντε σύνδεση</a>
    <div class="clearfix"></div>
    
    
</div>
    
{% endblock %}
