{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}

{% block twothree_small %}
    <h1>Forgot password?</h1>
    <p>
    blah blah code  blah blah code  blah blah code  blah blah code  blah blah code  blah blah code 
    blah blah code  blah blah code  blah blah code  blah blah code  blah blah code  blah blah code 
    blah blah code  blah blah code  blah blah code  blah blah code  blah blah code 
    </p>
{% endblock %}